@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model BlogWeb.Models.Post
@*<form action="/Post/Adiciona" method="post">
        <label>
            Titulo : <input name="Titulo" maxlength="50" required value="@Model.Titulo" />
        </label>
        @Html.ValidationMessage("Titulo")
        <label>
            Resumo : <input name="Resumo" required value="@Model.Resumo" />
        </label>
        @Html.ValidationMessage("Resumo")
        <label>
            Categoria : <input name="Categoria" value="@Model.Categoria" />
        </label>
        <button type="submit">Submeter</button>
    </form>*@
@using (Html.BeginForm("Adiciona", "Post"))
{
    @Html.LabelFor(x => x.Titulo)
    @Html.TextBoxFor(x => x.Titulo)
    @Html.ValidationMessageFor(x => x.Titulo)

    @Html.LabelFor(x => x.Resumo)
    @Html.TextBoxFor(x => x.Resumo)
    @Html.ValidationMessageFor(x => x.Resumo)

    @Html.LabelFor(x => x.Categoria)
    @Html.TextBoxFor(x => x.Categoria)

    <button type="submit">Submeter</button>
}
@section Scripts{

    @Html.Partial("_Scripts")
    <script>
         $("[name='Categoria']").autocomplete({
            source: function (request, response) {
                $.post("@Url.Action("AutoCompleteCategoria")",
                    { termoDigitado: request.term },
                    function (data) {
                        response(data);
                    });
            }
        });
    </script>
}
