@model BlogWeb.Models.Post
<html>
<head>
    <title>Novo Post</title>
</head>
<body>
    <form action="/Post/Adiciona" method="post">
        <label>
            Titulo : <input name="Titulo" value="@Model.Titulo" />
        </label>
        @Html.ValidationMessage("Titulo")
        <label>
            Resumo : <input name="Resumo" value="@Model.Resumo" />
        </label>
        @Html.ValidationMessage("Resumo")
        <label>
            Categoria : <input name="Categoria" value="@Model.Categoria" />
        </label>
        <button type="submit">Submeter</button>
    </form>
</body>
</html>
