@model BlogWeb.Models.Post
<html>
<head>
    <title>Novo Post</title>
</head>
<body>
    <form action="/Post/Editar" method="post">
        <input type="hidden" name="Id" value="@Model.Id" />
        <input type="hidden" name="Publicado" value="@Model.Publicado.ToString()" />
        <input type="hidden" name="DataPublicacao" value="@Model.DataPublicacao" />
        <label>
            Titulo : <input name="Titulo" value="@Model.Titulo"/>
        </label>
        @Html.ValidationMessage("Titulo")
        <label>
            Resumo : <input name="Resumo" value="@Model.Resumo"/>
        </label>
        @Html.ValidationMessage("Resumo")
        <label>
            Categoria : <input name="Categoria" value="@Model.Categoria" />
        </label>
        <button type="submit">Submeter</button>
    </form>
</body>
</html>
